<%- include('./layoutPartials/head.partial.ejs') %>
    <title>All teams</title>
</head>
<body>
    <main>
        <h2>All teams</h2>
        <% teams.forEach( team=> { %>
            <div>
                <div><%= team.teamName %></div>
                <div><%= team.shortName %></div>
                <div><%= team.homeGround %></div>
                
            </div>

        <% }) %>
    </main>
</body>
</html>