<%- include('./layoutPartials/head.partial.ejs') %>
    <title>Auction Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="picture"></div>
    <form action="/login" method="POST" name="loginForm">
        <h2>Cricket Auction</h2>
        <h3>Login</h3>
        <% if (loginError) { %>
            <label for="username" class="errorMsg">
                Username and/or password are incorrect.
            </label>
        <% } %>
        <% if (loginAgain) { %>
            <label for="username" class="warningMsg">
                You were logged out. Please Login again.
            </label>
        <% } %>
        <label for="username">User name</label>
        <input id="username"
               type="text"
               name="username"
               placeholder="Enter Username"
               required
               minlength="6"
               maxlength="50" />

        <label for="password">Password</label>
        <input id="password"
               type="password"
               name="password"
               placeholder="Enter Password"
               required
               minlength="8"
               maxlength="50" />

        <div class="button-group">
            <button type="submit">Login</button>
            <button type="reset">Clear</button>
        </div>
        <div class="button-group">
            <a href="/register">Register</a> 
        </div>
    </form>
</body>
</html>