body {
    display: flex;
}

.picture {
    width: calc(100vw - 414px);
    height: 100vh;
    overflow: hidden;
    background-image: url('/images/alessandro-bogliari-oDs_AxeR5g4-unsplash.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    height: 100vh;
    width: 414px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0 0 25px 0;
}
